@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e7f1f9;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}
.logo-row {
    display: flex;
    margin-left: 80px;
}
.logo-column {
    flex: 50%;
    padding: 5px;
}
.logo-column img {
    width: 100%;
    max-width: 70px;
}
.header .nav {
    display: flex;
    align-items: center;
    margin-right: 80px;
}
.buttn {
    background-color: white;
    border: none;
    color: #222222;
    padding: 12px 16px;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}
.buttn:hover {
    background-color: #1491EC;
    color: white;
    border-radius: 15px;
}
.buttn.active {
    background-color: #1491EC;
    color: white;
    border-radius: 15px;
}
.container {
    padding: 20px;
    margin: 30px auto;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}
.report-title {
    font-size: 30px;
    color: #444444;
    font-weight: 600;
}
.report-attr {
    color: #888;
    margin-bottom: 10px;
}
.modal-status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 25px;
    border: none;
    color: #fff;
    margin-top: 10px;
}
.modal-status:hover {
    box-shadow: 5px 5px 15px 0px rgba(25, 25, 25, 30%);
    transition: 0.4s;
}
.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 25px;
    border: none;
    color: #fff;
    margin-top: 10px;
    position: absolute;
    right: 35px;
    top: 75px; /* Align with author and date */
}
.status:hover {
    box-shadow: 5px 5px 15px 0px rgba(25, 25, 25, 30%);
    transition: 0.4s;
}
.status-in-progress {
    background-color: #f0ad4e;
}
.status-completed {
    background-color: #5cb85c;
}
.report-desc {
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: 30px;
    text-align: justify;
}

.modal-status-desc {
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: 30px;
    text-align: justify;
}

.btn-group {
    display: flex;
    justify-content: flex-start;
}
.btn {
    background-color: transparent;
    border: none;
    color: black;
    padding: 12px 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
}
.btn-update {
    background-color: #2E4DEC;
    color: white;
}
.btn-delete {
    background-color: #FF4545;
    color: white;
}
.btn:hover {
    opacity: 0.8;
}
.btn.btn-secondary {
    background-color: #2E4DEC;
    color: white;
}

.btn.btn-primary {
    background-color: #1FD210;
    color: white;
}

.modal-footer{
    opacity: 0.8;
}
.report-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 10px;
}
.vote-download {
    display: flex;
    align-items: center;
    position: absolute;
    right: 35px;
    top: 30px; /* Align with report title */
}
.vote-count {
    font-size: 18px;
    color: #000000;
    margin-right: 20px;
}
.download-icon {
    font-size: 24px;
    color: #444444;
}
.btn-download {
background-color: white;
border: none;
color: black;
padding: 12px 16px;
margin-left: 10px;
cursor: pointer;
}
.btn-download:hover {
    color: gray;
}
.modal-a{
    background-color: #FFE5A0;
}
.modal-b{
    background-color: #C4FFC3;
}